 <!--1803518 Annemari Mustonen --> 

<ion-content>

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>My team project</ion-title>
        </ion-toolbar>
      </ion-header>

 <!-- Basic text in a card -->   
 <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>For work</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> MMC Program database functions with my colleagues for Valio </p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
      <ion-card-header color="secondary">
        <ion-card-subtitle>For school</ion-card-subtitle>
      </ion-card-header>
            <ion-card-content>
              <p> Design Sprint Project for LaureAMKO </p>
            </ion-card-content>
    </ion-card>

 <!--Side menu link information -->      
        <ion-content>
          <ion-list>
          <ion-item>
            <ion-icon name="Team Project" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
</ion-content>
