 <!--0702280 Annemari Mustonen --> 

<ion-content>

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>Ronja</ion-title>
        </ion-toolbar>
      </ion-header>

 <!-- Basic text in a card -->   
 <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>Dog name and nickname</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> Plaudite Xtremely Joyful, Ronja
            </p>
          </ion-card-content>

          <ion-card class="welcome-card">
            <ion-card-header color="secondary">
              <ion-card-subtitle>Breed</ion-card-subtitle>
            </ion-card-header>
                  <ion-card-content>
                    <p> Whippet
                    </p>
                  </ion-card-content>
          </ion-card>

          <ion-card class="welcome-card">
            <ion-card-header color="secondary">
              <ion-card-subtitle>Breeder</ion-card-subtitle>
            </ion-card-header>
                  <ion-card-content>
                    <p> Kennel Plaudite, Pirjo Jutila
                    </p>
                  </ion-card-content>
          </ion-card>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>Titles and achievements</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> Estionian Show Champion, certificate from lure coursing
            </p>
          </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>Hobbies</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> Agility, dog shows, racing and lure coursing
            </p>
          </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>Medical information</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> Text about medical information, illnesses, allergies, injuries etc.
            </p>
          </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>Photo of the dog</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
             <p> Not sure how to get that in just yet.
             </p>
           </ion-card-content>
  </ion-card>

