 <!--1803518 Annemari Mustonen --> 

<ion-content>

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>My technical skills</ion-title>
        </ion-toolbar>
      </ion-header>

 <!-- Basic text in a card -->   
 <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle>Programming languages I am using in my work:</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> Oracle PL/SQl, Pascal (Delphi) and HTML</p>
          </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
      <ion-card-header color="secondary">
        <ion-card-subtitle>Programming languages amnd development platforms I am studying:</ion-card-subtitle>
      </ion-card-header>
            <ion-card-content>
              <p> Java, Angular and Ionic </p> 
            </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-header color="secondary">
          <ion-card-subtitle>Other technical skills:</ion-card-subtitle>
        </ion-card-header>
              <ion-card-content>
                <p> I am familiar with Windows and Office programs, in addition to various photo editing programs. I have also worked as an IT support person and and familiar with computer hardware. </p> 
              </ion-card-content>
      </ion-card>

 <!--Side menu link information -->              
        <ion-content>
          <ion-list>
          <ion-item>
            <ion-icon name="Technical skills" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
</ion-content>
