 <!--0702280 Annemari Mustonen Basic information and home page for the application --> 

 <ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Dog notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>Basic Information</ion-title>
        </ion-toolbar>
      </ion-header>

 <!-- Basic text in a card -->       
      <ion-card class="welcome-card">
          <ion-card-header color="secondary">
            <ion-card-title>Dog name and photo</ion-card-title>
            <ion-card-subtitle>Official name and nickname</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Plaudite Xtremely Joyful, Ronja</p>
          </ion-card-content>
        </ion-card>

 <!-- Basic text in a card -->       
 <ion-card class="welcome-card">
  <ion-card-header color="secondary">
    <ion-card-title>Dog name and photo</ion-card-title>
    <ion-card-subtitle>Official name and nickname</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>Tuulikellon Effectico, Leevi</p>
  </ion-card-content>
</ion-card>

 <!-- Basic text in a card -->       
 <ion-card class="welcome-card">
  <ion-card-header color="secondary">
    <ion-card-title>Owner information</ion-card-title>
    <ion-card-subtitle>Name of the owner</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>Annemari Mustonen</p>
  </ion-card-content>
</ion-card>
</ion-content>