 <!--1803518 Annemari Mustonen --> 

<ion-content>

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>My soft skills</ion-title>
        </ion-toolbar>
      </ion-header>

  <!-- Basic text in a card -->   
  <ion-card class="welcome-card">
      <ion-card-header color="secondary">
        <ion-card-subtitle>Languages I am good at</ion-card-subtitle>
      </ion-card-header>
            <ion-card-content>
              <p> English, Swedish and Finnish </p>
            </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header color="secondary">
          <ion-card-subtitle>My other basic level languages</ion-card-subtitle>
        </ion-card-header>
              <ion-card-content>
                <p> French and I know the russian alphabet </p>
              </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-card-header color="secondary">
            <ion-card-subtitle>My other soft skills</ion-card-subtitle>
          </ion-card-header>
                <ion-card-content>
                  <p> Design Sprint method and writing </p>
                </ion-card-content>
        </ion-card>
 <!--Side menu link information -->              
        <ion-content>
          <ion-list>
          <ion-item>
            <ion-icon name="Soft skills" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
</ion-content>
