 <!--1803518 Annemari Mustonen --> 

<ion-content>

    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>My contact information</ion-title>
        </ion-toolbar>
      </ion-header>

 <!-- Basic text in a card -->   
 <ion-card class="welcome-card">
    <ion-card-header color="secondary">
      <ion-card-subtitle >My email address is:</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <p> yyyyyyy.yyyyyyy@zzzzzz.fi </p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
      <ion-card-header color="secondary">
        <ion-card-subtitle>My phone number is:</ion-card-subtitle>
      </ion-card-header>
            <ion-card-content>
              <p> 123-456 789 </p>
            </ion-card-content>
 <!--Side menu link information -->      
        <ion-content>
          <ion-list>
          <ion-item>
            <ion-icon name="Contact information" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
</ion-content>

